@tailwind base;
@tailwind components;
@tailwind utilities;

html, body,main {
  min-height: 100%;
}
.ccontainer{
  margin-left: 96px;
  margin-right: 96px;
  width: auto; /* or max-width: 100% */
  height: auto; /* or max-height: 100% */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@keyframes bell {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
}

.animation-bell {
  animation: bell 0.3s ease-in-out;
}