<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Uzbekation</title>
  <link rel="stylesheet" href="./style/fonts.css">
  <link rel="stylesheet" href="./style/main.css">
  <link href="../../../dist/output.css" rel="stylesheet">

</head>

<body class="bg-[#141414] text-white scroll-smooth">
  <header
    class="flex items-center justify-between fixed top-0 left-0 right-0 px-[100px] py-5 backdrop-blur-[10px] border-b border-white border-opacity-10 urbanist-medium z-50">
    <!-- logo -->
    <a href="./home.html" class=" flex items-center gap-2 urbanist-extrabold text-3xl">
      <img src="./img/logo.svg" alt="">
      Uzbekation
    </a>
    <nav>
      <ul class="flex items-center justify-center gap-8">
        <a href="./home.html"
          class="text-white px-6 py-3 bg-[#4a4a4a] bg-opacity-10 rounded-lg backdrop-blur-md border border-white border-opacity-10 cursor-pointer hover:font-bold">Home</a>
        <a href="./home.html"
          class="text-white px-6 py-3 bg-[#4a4a4a] bg-opacity-10 rounded-lg backdrop-blur-md border border-white border-opacity-10 cursor-pointer hover:font-bold">About
          Us</a>
        <a href="./home.html"
          class="text-white px-6 py-3 bg-[#4a4a4a] bg-opacity-10 rounded-lg backdrop-blur-md border border-white border-opacity-10 cursor-pointer hover:font-bold">Places</a>
        <a href="./home.html"
          class="text-white px-6 py-3 bg-[#4a4a4a] bg-opacity-10 rounded-lg backdrop-blur-md border border-white border-opacity-10 cursor-pointer hover:font-bold">Services</a>

      </ul>
    </nav>
    <button
      class="text-white px-6 py-3 bg-[#4a4a4a] bg-opacity-10 rounded-lg backdrop-blur-md border border-white border-opacity-10">
      <a href="./contact.html">Contact Us</a>
    </button>
  </header>
  <main>
    <section
      class="flex flex-col items-start justify-center relative mb-5">
      <div class="absolute inset-0 bg-gradient-to-r from-[#141414] to-transparent "></div>
      <div class="absolute inset-x-0 bottom-0 h-[80px] bg-gradient-to-t from-[#141414] to-transparent "></div>
      <img class=" w-full -z-10" src="./img/bg-registan.png" alt="">

      <div class="flex flex-col items-start justify-start gap-20 absolute px-[100px]">
        <!-- main info of event -->
        <div class="flex flex-col items-start justify-center gap-4 max-w-[600px]">
          <div class="text-5xl waterbrush-regular">
            Explorer and Travel
          </div>
          <div class="text-[86px] worksans-bold">Let’s Go Now</div>
          <div class="text-base urbanist-medium">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard
            dummy text ever since the 1500s,
          </div>
        </div>
        <!-- locations info -->
        <div class="px-6 py-4 rounded-[28px] backdrop-blur-sm border border-white border-opacity-20 flex items-center gap-16">
          <div class="flex items-center justify-between gap-10">
            <div class="flex items-center gap-4 worksans-regular">
              <img src="./img/location.svg" alt="location">
              <div class="flex flex-col items-start justify-center gap-1">
                <p class="text-base">Location</p>
                <p class="text-xl worksans-bold">Samarkand</p>
              </div>
            </div>
            <div class="border border-r border-white h-7 rounded-full"></div>
            <div class="flex items-center gap-4 worksans-regular">
              <img src="./img/date.svg" alt="date">
              <div class="flex flex-col items-start justify-center gap-1">
                <p class="text-base">Date</p>
                <p class="text-xl worksans-bold">13 May, 2025</p>
              </div>
            </div>
          </div>
          <!-- search button -->
          <button class="grid place-content-center p-5 rounded-2xl bg-gradient-to-r from-lightpurple to-mainpurple">
            <img src="./img/searchicon.svg" alt="search">
          </button>
        </div>
      </div>
    </section>
    <!-- offers -->
    <section class="px-5 flex items-stretch gap-5 urbanist-semibold">
      <a class="flex-1" href="#">
        <div
          class="py-10 px-5 flex flex-col items-center gap-5 rounded-xl bg-[#1a1a1a] bg-opacity-10 border border-white border-opacity-10 relative hover:border-opacity-20 group">
          <img class="size-20 group-hover:animate-bell" src="./img/dstay.svg" alt="stay">
          <p>Find Your Dream Stay</p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6 absolute top-5 right-5 opacity-60 group-hover:top-3 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
          </svg>
        </div>
      </a>
      <a class="flex-1" href="#">
        <div
          class="py-10 px-5 flex flex-col items-center gap-5 rounded-xl bg-[#1a1a1a] bg-opacity-10 border border-white border-opacity-10 relative hover:border-opacity-20 group">
          <img class="size-20 group-hover:animate-bell" src="./img/dstay.svg" alt="stay">
          <p>Find Your Dream Stay</p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6 absolute top-5 right-5 opacity-60 group-hover:top-3 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
          </svg>
        </div>
      </a>
      <a class="flex-1" href="#">
        <div
          class="py-10 px-5 flex flex-col items-center gap-5 rounded-xl bg-[#1a1a1a] bg-opacity-10 border border-white border-opacity-10 relative hover:border-opacity-20 group">
          <img class="size-20 group-hover:animate-bell" src="./img/dstay.svg" alt="stay">
          <p>Find Your Dream Stay</p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6 absolute top-5 right-5 opacity-60 group-hover:top-3 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
          </svg>
        </div>
      </a>
      <a class="flex-1" href="#">
        <div
          class="py-10 px-5 flex flex-col items-center gap-5 rounded-xl bg-[#1a1a1a] bg-opacity-10 border border-white border-opacity-10 relative hover:border-opacity-20 group">
          <img class="size-20 group-hover:animate-bell" src="./img/dstay.svg" alt="stay">
          <p>Find Your Dream Stay</p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6 absolute top-5 right-5 opacity-60 group-hover:top-3 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
          </svg>
        </div>
      </a>
    </section>
  </main>
</body>

</html>