<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Uzbekation | Places</title>
  <link rel="stylesheet" href="../../styles/fonts.css">
  <link rel="stylesheet" href="../../styles/main.css">
  <link rel="stylesheet" href="./style/faq_section.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="../auth/js/auth.js"></script>

  <script>
    tailwind.config = {
      theme: {
        screens: {
          // 'xl': {'max': '1500px'},
          // // => @media (max-width: 1535px) { ... }

          lg: { max: "1024px" },
          // => @media (max-width: 1024px) { ... }

          md: { max: "768px" },
          // => @media (max-width: 768px) { ... }

          hamvisible: { max: "700px" },
          // => @media (max-width: 650px) { ... }

          sm: { max: "425px" },
          // => @media (max-width: 425px) { ... }

          xs: { max: "375px" },
          // => @media (max-width: 375px) { ... }

          s: { max: "320px" },
          // => @media (max-width: 375px) { ... }
        },
        extend: {
          colors: {
            // search icon colors
            lightpurple: "#A585FA",
            mainpurple: "#4600FF",
            // places to go card colors
            endblue: "#05073C",
          },
        },
      },
    };
  </script>

</head>

<body class="bg-[#141414] text-white scroll-smooth overscroll-auto scrollbar-hidden">

  <!-- header -->
  <header
    class="flex items-center justify-between fixed top-0 left-0 right-0 px-24 py-5 backdrop-blur-[10px] border-b border-white/10 urbanist-medium z-50">
    <!-- logo -->
    <a href="./home.html" class=" flex items-end gap-4 urbanist-extrabold text-3xl">
      <img src="./img/logo.svg" alt="">
      Uzbekation
    </a>
    <nav>
      <ul class="flex items-center justify-center gap-6 urbanist-medium">
        <a href="./home.html" class="px-6 py-3 text-base leading-[150%] rounded-md cursor-pointer nav-link"
          data-page="home">Home</a>
        <a href="./about_us.html" class="px-6 py-3 text-base leading-[150%] rounded-md cursor-pointer nav-link"
          data-page="about_us">About
          Us</a>
        <a href="./places.html" class="px-6 py-3 text-base leading-[150%] rounded-md cursor-pointer nav-link"
          data-page="places">Places</a>
        <a href="./services.html" class="px-6 py-3 text-base leading-[150%] rounded-md cursor-pointer nav-link"
          data-page="services">Services</a>
        <a href="./contact_us.html" class="px-6 py-3 text-base leading-[150%] rounded-md cursor-pointer nav-link"
          data-page="contact_us">Contact us</a>
      </ul>
    </nav>
    <a id="profileLink"
      class="text-white px-5 py-3 text-base leading-[150%] bg-[#4a4a4a]/10 rounded-[10px] backdrop-blur-md border border-white/10 hover:border-white/20 hover:bg-[#4a4a4a]/20 transition duration-200 ease-in-out">
      <span id="profileIconContainer">
        <!-- Default profile icon -->
        <img src="./img/profile.svg" alt="profile">
      </span>
    </a>
  </header>

  <!-- main part -->
  <main>

    <!--mainstage hook -->
    <section class="flex flex-col items-start justify-center relative groups">
      <div class="absolute inset-0 bg-gradient-to-r from-[#141414] to-transparent "></div>
      <div class="absolute inset-x-0 bottom-0 h-[80px] bg-gradient-to-t from-[#141414] to-transparent "></div>
      <img class=" w-full -z-10" src="./img/bg-places.png" alt="">

      <div class="flex flex-col items-start justify-start gap-20 absolute ccontainer top-[40%]">
        <!-- main info of event -->
        <div class="flex flex-col items-start justify-center gap-4 max-w-[600px]">
          <div class="text-5xl waterbrush-regular fade-in-left">
            Explorer and Travel
          </div>
          <div class="text-[86px] worksans-bold fade-in-left">Places</div>
          <div class="text-base urbanist-medium fade-in-left">
            ✨ Discover. Experience. Remember.
          </div>
        </div>
      </div>
    </section>

    <!-- top places -->
    <section id="trending" class="px-20 mb-24 groups">
      <h1 class="text text-white text-5xl md:text-7xl font-semibold mb-10 ml-8 fade-in-left">
        Top places
      </h1>
      <div class="grid grid-cols-3 md:grid-cols-1 gap-5 urbanist-semibold relative">
        <!-- ellipse -->
        <div class="absolute left-6 top-0 size-[240px] bg-[#703BF7] rounded-full blur-[180px] elipse animate-move">
        </div>
        <div
          class="absolute right-16 top-5 size-[180px] bg-[#F43BF7] rounded-full blur-[220px] elipse animate-move-reverse">
        </div>
        <div class="absolute right-10 top-10 size-[180px] bg-[#703BF7] rounded-full blur-[220px] elipse animate-move">
        </div>
        <div onclick="openCityPage('mirarab')"
          class="space-y-5 md:p-5 p-8 rounded-xl bg-[#141414]/10 border border-white/20 hover:border-white/30 hover:bg-[#141414]/40 hover:scale-[102%] transition duration-300 ease-in-out backdrop-blur-md cursor-pointer group fade">
          <img class="rounded-md w-full object-cover" src="./img/places/mirarab.png" alt="trip">
          <div class="flex items-center justify-between">
            <p class="text-xl urbanist-semibold text-left">Mir Arab madrasah</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor"
              class="size-6 opacity-60 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
          </div>
        </div>
        <div onclick="openCityPage('registan')"
          class="space-y-5 md:p-5 p-8 rounded-xl bg-[#141414]/10 border border-white/20 hover:border-white/30 hover:bg-[#141414]/40 hover:scale-[102%] transition duration-300 ease-in-out backdrop-blur-md cursor-pointer group fade">
          <img class="rounded-md w-full object-cover" src="./img/places/registan.png" alt="trip">
          <div class="flex items-center justify-between">
            <p class="text-xl urbanist-semibold text-left">Registan Square</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor"
              class="size-6 opacity-60 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
          </div>
        </div>
        <div onclick="openCityPage('khiva')"
          class="space-y-5 md:p-5 p-8 rounded-xl bg-[#141414]/10 border border-white/20 hover:border-white/30 hover:bg-[#141414]/40 hover:scale-[102%] transition duration-300 ease-in-out backdrop-blur-md cursor-pointer group fade">
          <img class="rounded-md w-full object-cover" src="./img/places/khiva.png" alt="trip">
          <div class="flex items-center justify-between">
            <p class="text-xl urbanist-semibold text-left"> Castle "Ichan"</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor"
              class="size-6 opacity-60 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
          </div>
        </div>
      </div>
    </section>

    <!-- unexplored places -->
    <section id="unexplored" class="px-20 mb-24 groups">
      <h1 class="text text-white text-5xl md:text-7xl font-semibold mb-10 ml-8 fade-in-left">
        Unexplored places
      </h1>
      <div class="grid grid-cols-3 md:grid-cols-1 gap-5 urbanist-semibold mb-20 relative">
        <!-- ellipse -->
        <div class="absolute left-[25%] top-10 size-[160px] bg-[#33FF00] rounded-full blur-[200px] elipse animate-move-reverse">
        </div>
        <div class="absolute -right-20 -bottom-20 size-[320px] bg-[#703BF7] rounded-full blur-[180px] elipse animate-move">
        </div>
        <div onclick="openCityPage('aralsea')"
          class="space-y-5 md:p-5 p-8 rounded-xl bg-[#141414]/10 border border-white/20 hover:border-white/30 hover:bg-[#141414]/40 hover:scale-[102%] transition duration-300 ease-in-out backdrop-blur-md cursor-pointer group fade">
          <img class="rounded-md w-full object-cover" src="./img/places/aralsea.png" alt="trip">
          <div class="flex items-center justify-between">
            <p class="text-xl urbanist-semibold text-left">Aral Sea</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor"
              class="size-6 opacity-60 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
          </div>
        </div>
        <div onclick="openCityPage('labikhovuz')"
          class="space-y-5 md:p-5 p-8 rounded-xl bg-[#141414]/10 border border-white/20 hover:border-white/30 hover:bg-[#141414]/40 hover:scale-[102%] transition duration-300 ease-in-out backdrop-blur-md cursor-pointer group fade">
          <img class="rounded-md w-full object-cover" src="./img/places/labikhovuz.png" alt="trip">
          <div class="flex items-center justify-between">
            <p class="text-xl urbanist-semibold text-left">Labi Khovuz Ensemble</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor"
              class="size-6 opacity-60 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
          </div>
        </div>
        <div onclick="openCityPage('ark')"
          class="space-y-5 md:p-5 p-8 rounded-xl bg-[#141414]/10 border border-white/20 hover:border-white/30 hover:bg-[#141414]/40 hover:scale-[102%] transition duration-300 ease-in-out backdrop-blur-md cursor-pointer group fade">
          <img class="rounded-md w-full object-cover" src="./img/places/ark.png" alt="trip">
          <div class="flex items-center justify-between">
            <p class="text-xl urbanist-semibold text-left">Ark in Bukhara</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor"
              class="size-6 opacity-60 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
          </div>
        </div>
    
      </div>
    </section>

    <!-- Historical places -->
    <section id="historical" class="px-20 mb-24 groups">
      <h1 class="text text-white text-5xl md:text-7xl font-semibold mb-10 ml-8 fade-in-left">
        Historical places
      </h1>
      <div class="grid grid-cols-3 md:grid-cols-1 gap-5 urbanist-semibold mb-20 relative">
        <!-- ellipse -->
        <div class="absolute -left-[10%] -bottom-[15%] size-[160px] bg-[#F2FF41] rounded-full blur-[200px] elipse animate-move-reverse">
        </div>
        <div onclick="openCityPage('kalyan')"
          class="space-y-5 md:p-5 p-8 rounded-xl bg-[#141414]/10 border border-white/20 hover:border-white/30 hover:bg-[#141414]/40 hover:scale-[102%] transition duration-300 ease-in-out backdrop-blur-md cursor-pointer group fade">
          <img class="rounded-md w-full object-cover" src="./img/places/kalyan.png" alt="trip">
          <div class="flex items-center justify-between">
            <p class="text-xl urbanist-semibold text-left">Tower "Kalyan"</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor"
              class="size-6 opacity-60 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
          </div>
        </div>
        <div onclick="openCityPage('bibikhonim')"
          class="space-y-5 md:p-5 p-8 rounded-xl bg-[#141414]/10 border border-white/20 hover:border-white/30 hover:bg-[#141414]/40 hover:scale-[102%] transition duration-300 ease-in-out backdrop-blur-md cursor-pointer group fade">
          <img class="rounded-md w-full object-cover" src="./img/places/bibikhonim.png" alt="trip">
          <div class="flex items-center justify-between">
            <p class="text-xl urbanist-semibold text-left">Bibikhonim Mosque</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor"
              class="size-6 opacity-60 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
          </div>
        </div>
        <div onclick="openCityPage('shokhizinda')"
          class="space-y-5 md:p-5 p-8 rounded-xl bg-[#141414]/10 border border-white/20 hover:border-white/30 hover:bg-[#141414]/40 hover:scale-[102%] transition duration-300 ease-in-out backdrop-blur-md cursor-pointer group fade">
          <img class="rounded-md w-full object-cover" src="./img/places/shokhizinda.png" alt="trip">
          <div class="flex items-center justify-between">
            <p class="text-xl urbanist-semibold text-left">"Shokhi Zinda" Mausoleum</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor"
              class="size-6 opacity-60 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
          </div>
        </div>
      </div>
    </section>

    <!-- family trip places -->
    <section id="familytrip" class="px-20 mb-24 groups">
      <h1 class="text text-white text-5xl md:text-7xl font-semibold mb-10 ml-8 fade-in-left">
        Family Trip places
      </h1>
      <div class="grid grid-cols-3 md:grid-cols-1 gap-5 urbanist-semibold mb-20 relative">
        <!-- ellipse -->
        <div
          class="absolute -left-[10%] -bottom-[15%] size-[160px] bg-[#F2FF41] rounded-full blur-[200px] elipse animate-move-reverse">
        </div>
        <div class="absolute right-[25%] -top-20 size-[180px] bg-[#F7743B] rounded-full blur-[220px] elipse animate-move">
        </div>
        <!-- cards -->
        <div onclick="openCityPage('charvak')"
          class="space-y-5 md:p-5 p-8 rounded-xl bg-[#141414]/10 border border-white/20 hover:border-white/30 hover:bg-[#141414]/40 hover:scale-[102%] transition duration-300 ease-in-out backdrop-blur-md cursor-pointer group fade">
          <img class="rounded-md w-full object-cover" src="./img/places/charvak.png" alt="trip">
          <div class="flex items-center justify-between">
            <p class="text-xl urbanist-semibold text-left"> Charvak resort</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor"
              class="size-6 opacity-60 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
          </div>
        </div>
        <div onclick="openCityPage('fergana')"
          class="space-y-5 md:p-5 p-8 rounded-xl bg-[#141414]/10 border border-white/20 hover:border-white/30 hover:bg-[#141414]/40 hover:scale-[102%] transition duration-300 ease-in-out backdrop-blur-md cursor-pointer group fade">
          <img class="rounded-md w-full object-cover" src="./img/places/fergana.png" alt="trip">
          <div class="flex items-center justify-between">
            <p class="text-xl urbanist-semibold text-left">Fergana Valley</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor"
              class="size-6 opacity-60 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
          </div>
        </div>
        <div onclick="openCityPage('chimgan')"
          class="space-y-5 md:p-5 p-8 rounded-xl bg-[#141414]/10 border border-white/20 hover:border-white/30 hover:bg-[#141414]/40 hover:scale-[102%] transition duration-300 ease-in-out backdrop-blur-md cursor-pointer group fade">
          <img class="rounded-md w-full object-cover" src="./img/places/chimgan.png" alt="trip">
          <div class="flex items-center justify-between">
            <p class="text-xl urbanist-semibold text-left">Chimgan Mountains</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor"
              class="size-6 opacity-60 group-hover:translate-x-2 group-hover:-translate-y-0.5 transition-all duration-300 ease-in-out">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
          </div>
        </div>
      </div>
    </section>

    <!-- faqs section -->
    <section id="faqs" class="px-24 py-[100px] flex flex-col items-center justify-between gap-8 border-t-2 border-b-2 border-[#262626] groups">

      <h1 class="text text-white text-5xl md:text-7xl font-semibold fade-in">
        FAQs
      </h1>

      <div class="faq-section">
        <div class="faq">
          <div class="faq-question-container">
            <span class="faq-question fade-in-left">What is your return policy?</span>
            <svg class="openimg opacity-70" alt="Toggle Answer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
              class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>

          </div>
          <div class="answer-box">
            <p class="faq-answer">You can return any item within 30 days of purchase.</p>
          </div>
        </div>
      
        <div class="faq-divider"></div>
      
        <div class="faq">
          <div class="faq-question-container">
            <span class="faq-question fade-in-left">How long does everage trip take?</span>
            <svg class="openimg opacity-70" alt="Toggle Answer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
          <div class="answer-box">
            <p class="faq-answer">Trips in Standard Trip Package lasts 3-4 days.</p>
          </div>
        </div>
      
        <div class="faq-divider"></div>
      </div>


    </section>

    <!-- footer -->
    <footer class="px-24 py-[100px] flex items-start justify-between gap-20 groups">
    
      <!-- email us -->
      <div class="flex flex-col items-start justify-normal gap-8 relative">
        <!-- ellipse -->
        <div
          class="absolute left-[30%] top-[50%] size-[140px] bg-[#33FF00] rounded-full blur-[200px] elipse animate-move-reverse">
        </div>
        <!-- logo -->
        <a href="./home.html" class=" flex items-end gap-4 urbanist-extrabold text-3xl fade-in-left">
          <img src="./img/logo.svg" alt="">
          Uzbekation
        </a>
        <div
          class="flex itemscenter gap-2.5 py-4 px-6 rounded-xl bg-[#141414]/10 ring-1 focus-within:ring-[#703BF7] ring-inset ring-white/20 backdrop-blur-md fade-in-left">
          <label id="email-icon" for="email" class="cursor-pointer"><img src="./img/email.svg" alt=""></label>
          <input id="email" autocomplete="off" type="email" name="email" id="email" placeholder="Enter Your Email"
            class="w-[300px] pr-2 bg-transparent border-none ring-none focus:outline-none focus:border-transparent focus:ring-0 caret-[#703BF7] placeholder-[#999999] urbanist-medium text-lg leading-6 tracking-[-0.6%]">
          <button type="submit" class="cursor-pointer" id="send-btn">
            <img src="./img/Iconly/Bulk/Send.svg" alt="send">
          </button>
        </div>
      </div>
    
      <!-- menu links -->
    
      <div class="flex items-start justify-between gap-10 relative">
        <!-- ellipse -->
        <div
          class="absolute right-[25%] -top-[50%] size-[200px] bg-[#F43BF7] rounded-full blur-[220px] elipse animate-move-reverse">
        </div>
    
    
        <div class="space-y-8 urbanist-medium tracking-[-0.6%] fade-in">
          <p class=" text-[#999999] text-xl">Places</p>
          <div class="flex flex-col items-start gap-5 text-lg  leading-6 ">
            <a class="cursor-pointer hover:underline" href="./places.html#trending">Trending Places</a>
            <a class="cursor-pointer hover:underline" href="./places.html#unexplored">Unexplored Places</a>
            <a class="cursor-pointer hover:underline" href="./places.html#historical">Historical Places</a>
            <a class="cursor-pointer hover:underline" href="./places.html#familytrip">Family Trip Places</a>
            <a class="cursor-pointer hover:underline" href="./places.html#faqs">FAQ’s</a>
    
          </div>
        </div>
    
        <div class="space-y-8 urbanist-medium tracking-[-0.6%] fade-in">
          <p class=" text-[#999999] text-xl">About Us</p>
          <div class="flex flex-col items-start gap-5 text-lg  leading-6 ">
            <a class="cursor-pointer hover:underline" href="./about_us.html#ourstory">Our Story</a>
            <a class="cursor-pointer hover:underline" href="./services.html">Our Works</a>
            <a class="cursor-pointer hover:underline" href="./about_us.html#ourteam">Our Team</a>
            <a class="cursor-pointer hover:underline" href="./home.html#reviews">Our Clients</a>
    
          </div>
        </div>
    
        <div class="space-y-8 urbanist-medium tracking-[-0.6%] fade-in">
          <p class=" text-[#999999] text-xl">Packages</p>
          <div class="flex flex-col items-start gap-5 text-lg  leading-6 ">
            <a class="cursor-pointer hover:underline" href="./places.html#premiumplaces">Premium Packages</a>
            <a class="cursor-pointer hover:underline" href="./places.html#budgetplaces">Budget Packages</a>
          </div>
        </div>
    
        <div class="space-y-8 urbanist-medium tracking-[-0.6%] fade-in">
          <p class=" text-[#999999] text-xl">Contact Us</p>
          <div class="flex flex-col items-start gap-5 text-lg  leading-6 ">
            <a class="cursor-pointer hover:underline" href="./contact_us.html#contactform">Contact Form</a>
            <a class="cursor-pointer hover:underline" href="./contact_us.html#getintouch">Our Officess</a>
          </div>
        </div>
    
      </div>
    </footer>
  </main>

  <!-- footer: copyright and social links -->
  <section class="bg-[#1A1A1A] py-4 px-24 flex items-center justify-between groups">
    <div class="flex items-center gap-10 py-2.5 urbanist-medium tracking-[-0.6%] text-lg leading-6">
      <p class="fade">@20234Tripsy. All Rights Reserved.</p>
      <a class="cursor-pointer hover:underline fade" href="#">Terms & Conditions</a>
    </div>

    <div class="flex items-center gap-2.5">
      <a href="#"
        class="rounded-full p-4 bg-[#141414] overflow-hidden object-cover object-center hover:scale-110 hover:ring hover:ring-white/10 transition-transform duration-100 ease-in-out fade">
        <img class="size-6" src="./img/socials/facebook.svg" alt="facebook">
      </a>
      <a href="#"
        class="rounded-full p-4 bg-[#141414] overflow-hidden object-cover object-center hover:scale-110 hover:ring hover:ring-white/10 transition-transform duration-100 ease-in-out fade">
        <img class="size-6" src="./img/socials/twitter.svg" alt="facebook">
      </a>
      <a href="#"
        class="rounded-full p-4 bg-[#141414] overflow-hidden object-cover object-center hover:scale-110 hover:ring hover:ring-white/10 transition-transform duration-100 ease-in-out fade">
        <img class="size-6" src="./img/socials/linkedin.svg" alt="facebook">
      </a>
      <a href="#"
        class="rounded-full p-4 bg-[#141414] overflow-hidden object-cover object-center hover:scale-110 hover:ring hover:ring-white/10 transition-transform duration-100 ease-in-out fade">
        <img class="size-6" src="./img/socials/youtube.svg" alt="facebook">
      </a>
    </div>

  </section>

  <script src="./js/main.js"></script>
  <script src="./js/sendmail.js"></script>
  <script src="./js/faq.js"></script>
</body>

</html>